@charset "utf-8";

// 背景颜色
$mainbgc: #FAEE7A;
$hoverc: #37DA7C;
// 背景 hover
$lablehoverc: #23C4D8;

// 字体颜色
$mainfontc: #33A3A2;
$titlelinkc: #248F8E;
$lablefontc: #666;
$boardfontc: #795548;
// 字体 hover
$selectc: #24C513;
$linkhoverc: #2356D8;

// 分割线颜色
$cutlinec: #BEC7C7;
//加载更多 置顶 底部备案
$font2: #999;
// 加载更多 置顶 hover
$font2hover: #158A84;
// 分页栏颜色
$font3: #C465F0;
//点赞
$ihover: #E75D21;
